
 
.dropdown {  
    position: relative;  
    display: inline-block;  
    justify-content: center;
    margin: 25px;
}  
  
.button {  
    padding: 10px 30px;  
    font-size: 15px; 
    justify-content: center; 
}  
   
#brand {  
   display: none;  
   position: absolute;  
   background-color: white;  
   min-width: 185px;  
}  
   
#brand a {  
    display: block;  
    font-size: 18px;  
    background-color: #ddd;  
    color: black;  
    text-decoration: none;  
    padding: 10px;  
}  

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
